html
	head
		title MyBooks -- Books
		include ../static/pug/head-tags.pug
	body
		include ../static/pug/header.pug
		include ../static/pug/navbar.pug

		div#books-page
			div#books-table
				table
					tr
						th Author
						th Title
						th Genre
						th Language
						th Last read
					each book in allBooks
						tr
							td #{book.authorlastname}, #{book.authorfirstname}
							td #{book.title}
							td #{book.genre}
							td #{book.language}
							td #{book.lastread}
			div#search-books
				form(action="/books" method="post")
					input(type="text" name="search")
					input(type="submit" value="Go")
				p We found #{allBooks.length} books!

		include ../static/pug/footer.pug