html
	head
		title Lisa's Books -- Change something
		include ../static/pug/head-tags.pug

	body
		include ../static/pug/header.pug
		include ../static/pug/navbar.pug
		if user
			#add-page
				#add-books
					h1 Change something
					form(action="/change" method="post")
						p Author:
						label(for="firstname") First name
						br
						input#firstname(type="text" name="authorfirstname" value=result.authorfirstname)
						br
						label(for="lastname") Last name
						br
						input#lastname(type="text" name="authorlastname" value=result.authorlastname) 
						p Title:
						input(type="text" name="title" value=result.title)
						p Genre:
						input(type="text" name="genre" value=result.genre)
						p Language:
						input(type="text" name="language" value=result.language)
						p Last read:
						input(type="text" name="lastread" value=result.lastread)
						br
						input(type="submit" value="Change" class="input-button")
		include ../static/pug/footer.pug
