html
	head
		title Lisa's Books -- Wishlist
		include ../static/pug/head-tags.pug
	body
		include ../static/pug/header.pug
		include ../static/pug/navbar.pug

		div#wishlist-table
			h1.center To claim a book, click the title!
			table
				tr
					th Title
					th Author
					th Language
					th Price
					th Still available?
				each book in wishingThis
					if book.available
						tr
							if user
								td
									a(href="/wishlist_to_books/"+book.id) #{book.title}
							else	
								td 
									a(href="/buy_book/"+book.id) #{book.title}
							td #{book.authorfirstname} #{book.authorlastname}
							td #{book.language}
							td #{book.price}
							td Yes
					else
						tr.crossed
							if user
								td
									a(href="/wishlist_to_books/"+book.id) #{book.title}
							else	
								td #{book.title}
							td #{book.authorfirstname} #{book.authorlastname}
							td #{book.language}
							td #{book.price}
							td No
		include ../static/pug/footer.pug