html
	head
		title MyBooks -- Wishlist
		include ../static/pug/head-tags.pug
	body
		include ../static/pug/header.pug
		include ../static/pug/navbar.pug

		div#wishlist-table
			table
				tr
					th Title
					th Author
					th Language
					th Price
				each book in wishingThis
					tr
						if user
							td
								a(href="/wishlist_to_books/"+book.id) #{book.title}
						else	
							td #{book.title}
						td #{book.authorfirstname} #{book.authorlastname}
						td #{book.language}
						td #{book.price}

		include ../static/pug/footer.pug